<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>GEG - Product Plan Controll System</h1>
            <form role="form" #myform="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="acc" class="form-control input-underline input-lg" id="" placeholder="Account" [(ngModel)]="user.acc"
                            #userAcc="ngModel" required>
                        <div *ngIf="userAcc.errors?.required && userAcc.touched" class="error">
                            Account is required
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" name="pwd" class="form-control input-underline input-lg" id="" placeholder="Password" [(ngModel)]="user.pwd"
                            #userPwd="ngModel" required>
                        <div *ngIf="userPwd.errors?.required && userPwd.touched" class="error">
                            Password is required
                        </div>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin(myform)"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>